body {
	background-image: url(white7.jpg);
	background-size: cover;
}

header, h1 {
	text-align: center;
	font-family: 'Griffy', sans-serif;
	letter-spacing: 6px;
}

h1 {
	font-size: 40px;
}

header {
	font-size: 60px;
}

.container {
	margin: 0 auto;
	text-align: center;
	position: relative;
}

#msg {
	text-align: center;
	display: block;
	font-size: 20px;
	width: 600px;
	padding: 10px;
	margin: 0 auto;
	font-family: 'Ribeye', sans-serif;
	letter-spacing: 2px;
}

#board .arrow { 
	width: 40; 
	height: 40; 
	border-left: 31px solid transparent;
	border-right: 31px solid transparent;
	border-top: 25px solid #f00;
}

#board .red {
	background: red;
	border-radius: 50%;
	background: linear-gradient(to bottom, #ff1616 0%,#ad0505 100%);

}

#board .black {
	background: black;
	border-radius: 50%;
	background: linear-gradient(to bottom, #333 0%,#000000 100%);
}

table {
	display: inline-block;
	position: relative;
}

.cell td {
	border-radius: 50%;
	border: 0;
	height: 60px;
	background: #bbb;
	border: white;
}

.button {
	position: relative;
	top: 40px;
	display: block;
	margin: 0 auto;
	font-size: 30px;
	font-family: 'Griffy', sans-serif;

}